<footer class="text-gray-50 body-font bg-gray-900">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <i class="fa-regular fa-face-smile text-3xl"></i>
    <p class="text-sm text-gray-50 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 Portfolio —
      <a href="https://twitter.com/knyttneve" class="text-gray-50 ml-1" rel="noopener noreferrer" target="_blank">@sreehari</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-50">
        <i class="fa-brands fa-github text-2xl"></i>
      </a>
      <a class="ml-3 text-gray-50">
        <i class="fa-brands fa-linkedin text-2xl"></i>
      </a>
      <a class="ml-3 text-gray-50">
        <i class="fa-brands fa-instagram text-2xl"></i>
      </a>
    </span>
  </div>
</footer>
