<div [class.dark]="darkNav" class="w-screen flex h-16 bg-transparent text-textGray items-center justify-between md:px-6 px-2 fixed top-0 z-20">

<div class="flex-1 md:flex-none text-2xl font-bold">
  <p>Sreehari</p>
</div>
<div>
  <a class="fa-solid fa-bars mr-3 text-2xl md:hidden" *ngIf="!isTrue" (click)="open(isTrue)"></a>
  <a class="fa-solid fa-xmark mr-3 text-2xl md:hidden" *ngIf="isTrue"(click)="open(isTrue)"></a>
  <div class="max-md:hidden flex gap-6 text-lg">
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">What I Do</a>
    <a href="">Portfolio</a>
    <a href="">Contact</a>
  </div>
</div>
<div class="flex gap-3 md:gap-4 text-2xl">
  <a href="" class="fa-brands fa-github"></a>
  <a href="" class="fa-brands fa-linkedin-in"></a>
  <a href="" class="fa-brands fa-instagram"></a>
</div>
<div [class.slowNav]="isTrue" class="bg-primary md:hidden w-full flex flex-col text-textGray px-4 gap-8 py-4 duration-1000 mt-16 absolute top-0 left-0 -translate-y-[414px] -z-50 pt-16">
  <a href="" class="border-b">Home</a>
  <a href="" class="border-b">About</a>
  <a href="" class="border-b">What I Do</a>
  <a href="" class="border-b">Portfolio</a>
  <a href="">Contact</a>
</div>
</div>
