<div [class.dark]="darkNav" class="w-screen flex h-16 bg-transparent text-textGray items-center justify-between md:px-6 px-2 fixed top-0 z-20">

<div class="flex-1 md:flex-none text-2xl font-bold">
  <p>Sreehari</p>
</div>
<div>
  <a class="fa-solid fa-bars mr-3 text-2xl md:hidden" *ngIf="!isTrue" (click)="open(isTrue)"></a>
  <a class="fa-solid fa-xmark mr-3 text-2xl md:hidden" *ngIf="isTrue"(click)="open(isTrue)"></a>
  <div class="max-md:hidden flex gap-6 text-lg">
    <a href="#home" class="relative before:content-[''] before:w-0 before:h-1 before:bg-[#20c997] before:absolute before:-bottom-2 hover:before:w-full before:transition-all">Home</a>
    <a href="#about" class="relative before:content-[''] before:w-0 before:h-1 before:bg-[#20c997] before:absolute before:-bottom-2 hover:before:w-full before:transition-all">About</a>
    <a href="#what" class="relative before:content-[''] before:w-0 before:h-1 before:bg-[#20c997] before:absolute before:-bottom-2 hover:before:w-full before:transition-all">What I Do</a>
    <a href="#portfolio" class="relative before:content-[''] before:w-0 before:h-1 before:bg-[#20c997] before:absolute before:-bottom-2 hover:before:w-full before:transition-all">Portfolio</a>
    <a href="#contact" class="relative before:content-[''] before:w-0 before:h-1 before:bg-[#20c997] before:absolute before:-bottom-2 hover:before:w-full before:transition-all">Contact</a>
  </div>
</div>
<div class="flex gap-3 md:gap-4 text-2xl">
  <a href="https://github.com/Sreeharie123" target="_blank" class="fa-brands fa-github"></a>
  <a href="https://www.linkedin.com/in/sreehari-e-725838265/" target="_blank" class="fa-brands fa-linkedin-in"></a>
  <a href="https://www.instagram.com/" target="_blank" class="fa-brands fa-instagram"></a>
</div>
<div [class.slowNav]="isTrue" class="bg-primary md:hidden w-full flex flex-col text-textGray px-4 gap-8 py-4 duration-1000 mt-16 absolute top-0 left-0 -translate-y-[414px] -z-50 pt-16">
  <a href="#home" class="border-b" (click)="buttonClick(isTrue)">Home</a>
  <a href="#about" class="border-b" (click)="buttonClick(isTrue)">About</a>
  <a href="#what" class="border-b" (click)="buttonClick(isTrue)">What I Do</a>
  <a href="#portfolio" class="border-b" (click)="buttonClick(isTrue)">Portfolio</a>
  <a href="#contact" (click)="buttonClick(isTrue)">Contact</a>
</div>
</div>
