<!-------------------------------------------------HeroSection----------------------------------------------------------------------->

<div
  class="h-screen bg-hero-section bg-no-repeat bg-cover max-md:bg-right-bottom bg-fixed"
  id="home"
>
  <div
    class="h-full w-full bg-gray-900/75 z-20 flex flex-col justify-center items-center text-textGray gap-2"
  >
    <p class="md:text-3xl text-xl">Hello</p>
    <p class="md:text-4xl text-2xl">It's me Sreehari</p>
    <p class="md:text-5xl text-3xl">I'm a Angular Developer</p>
    <button
      class="w-fit h-fit px-12 py-3 border border-[#20c997] rounded-3xl mt-4 hover:bg-[#20c997] text-xl hover:transition-colors hover:ease-linear"
    >
      Hire me
    </button>
  </div>
</div>

<!-------------------------------------------------About Page----------------------------------------------------------------------->

<div class="flex items-center justify-center relative mt-4" id="about">
  <h1 class="md:text-8xl text-5xl font-bold text-[#cff2e7]">ABOUT ME</h1>
  <P
    class="md:text-3xl text-xl font-bold text-gray-900 absolute md:top-8 top-3 left-32 md:left-[53rem]"
    >Know <span class="border-b-4 md:px-2 border-[#20c997]">Me</span> More</P
  >
</div>

<div
  class="flex flex-col md:flex-row"
  data-aos="fade-up"
  data-aos-anchor-placement="center-bottom"
>
  <div class="w-full flex-1 flex justify-center items-center">
    <img
      src="../../../assets/Website Creator.gif"
      class="w-full md:w-[45rem] object-cover"
    />
  </div>

  <div
    class="flex-1 flex flex-col justify-center md:gap-8 gap-4 items-center"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
  >
    <h1 class="md:text-4xl text-xl font-bold">
      I'm <span class="text-[#20c997]">Seehari</span>, a FullStack Developer
    </h1>
    <div class="flex flex-col md:gap-4 gap-2 md:px-10 px-2 text-lg">
      <p class="w-full max-md:text-center">
        I have a strong foundation in both front-end and back-end development,
        allowing me to create seamless and intuitive user experiences while
        ensuring the performance and security of the application. My expertise
        in HTML, CSS,Tailwind,JavaScript,Angular, Node.js,Express.js,Rxjs and
        MongoDB makes me well-equipped to tackle any project, big or small.
      </p>
      <p class="max-md:hidden">
        I'm passionate about staying up-to-date with the latest technologies and
        industry trends, and I'm constantly seeking out new challenges and
        opportunities to learn and grow. Throughout my career, I've collaborated
        with teams of designers, developers, and stakeholders to deliver
        high-quality software products that exceed expectations.
      </p>
      <p class="w-full max-md:text-center">
        If you're looking for a Full Stack Developer who can bring your ideas to
        life and help you achieve your business goals, look no further. Let's
        work together to create something great!
      </p>
    </div>
    <button
      class="w-fit h-fit md:px-8 px-6 md:py-4 py-3 bg-btncolor md:text-xl font-black text-white rounded-xl"
    >
      Download CV
    </button>
  </div>
</div>

<!-------------------------------------------------What I Do---------------------------------------------------------------------->

<div class="bg-gray-50 md:py-10 py-4" id="what">
  <div class="flex items-center justify-center relative md:mb-10">
    <h1 class="md:text-8xl text-5xl font-bold text-[#cff2e7]">SERVICES</h1>
    <P
      class="md:text-3xl text-xl font-bold text-gray-900 absolute md:top-8 top-2 left-40 md:left-[55rem]"
      ><span class="border-b-4 md:px-2 border-[#20c997]">What</span>I Do?</P
    >
  </div>

  <div
    class="md:w-full md:px-20 flex flex-wrap md:gap-8 gap-4 justify-center"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
    data-aos-duration="2000"
  >
    <div
      class="md:flex md:w-[45%] items-center justify-center gap-4 px-4 py-3 bg-white shadow-md border-t-4 border-b-4 rounded-2xl border-[#20c997]"
      *ngFor="let item of servcesList"
    >
      <i
        class="text-icon text-5xl p-4 rounded-md flex justify-center items-center md:bg-gray-50"
        [ngClass]="item.icon"
      ></i>
      <div class="flex flex-col gap-2 max-md:items-center">
        <h1 class="text-2xl font-bold text-icon">{{ item.title }}</h1>
        <p class="text-gray-700 max-md:text-center">
          {{ item.content }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------------Resume Page----------------------------------------------------------------------->
