

<!-------------------------------------------------HeroSection----------------------------------------------------------------------->

<div class="h-screen bg-hero-section bg-no-repeat bg-cover max-md:bg-right-bottom bg-fixed">
  <div class="h-full w-full bg-gray-900/75 z-20 flex flex-col justify-center items-center text-textGray gap-2">
    <p class="md:text-3xl text-xl">Hello</p>
    <p class="md:text-4xl text-2xl">It's me Sreehari</p>
    <p class="md:text-5xl text-3xl">I'm a Angular Developer</p>
    <div>

    </div>
    <button class="w-fit h-fit px-12 py-3 border border-green-600 rounded-3xl mt-4 hover:bg-green-600 hover:text-textGray hover:border hover:border-white text-xl hover:transition-colors hover:ease-linear">Hire me</button>
  </div>
</div>

<div class="h-screen"></div>
