<!-------------------------------------------------HeroSection----------------------------------------------------------------------->


<div
  class="h-screen bg-hero-section bg-no-repeat bg-cover max-md:bg-right-bottom bg-fixed"
  id="home"
>
  <div
    class="h-full w-full bg-gray-900/75 z-20 flex flex-col justify-center items-center text-textGray gap-2"
  >
    <p class="md:text-3xl text-xl">Hello</p>
    <p class="md:text-4xl text-2xl">It's me Sreehari</p>
    <p class="md:text-5xl text-3xl">I'm a Angular Developer</p>
    <button
      class="w-fit h-fit px-12 py-3 border border-[#20c997] rounded-3xl mt-4 hover:bg-[#20c997] text-xl hover:transition-colors hover:ease-linear"
    >
      Hire me
    </button>
  </div>
</div>

<!-------------------------------------------------About Page----------------------------------------------------------------------->

<div class="flex items-center justify-center relative mt-4" id="about">
  <h1 class="md:text-8xl text-5xl font-bold text-[#cff2e7]">ABOUT ME</h1>
  <P
    class="md:text-3xl text-xl font-bold text-gray-900 absolute md:top-8 top-3"
    >Know <span class="border-b-4 md:px-2 border-[#20c997]">Me</span> More</P
  >
</div>

<div
  class="flex flex-col md:flex-row"
  data-aos="fade-up"
  data-aos-anchor-placement="center-bottom"
>
  <div class="w-full flex-1 flex justify-center items-center">
    <img
      src="../../../assets/Website Creator.gif"
      class="w-full md:w-[45rem] object-cover"
    />
  </div>

  <div
    class="flex-1 flex flex-col justify-center md:gap-8 gap-4 items-center"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
  >
    <h1 class="md:text-4xl text-xl font-bold">
      I'm <span class="text-[#20c997]">Seehari</span>, a FullStack Developer
    </h1>
    <div class="flex flex-col md:gap-4 gap-2 md:px-10 px-2 text-lg text-gray-800">
      <p class="w-full max-md:text-center">
        I have a strong foundation in both front-end and back-end development,
        allowing me to create seamless and intuitive user experiences while
        ensuring the performance and security of the application. My expertise
        in HTML, CSS,Tailwind,JavaScript,Angular, Node.js,Express.js,Rxjs and
        MongoDB makes me well-equipped to tackle any project, big or small.
      </p>
      <p class="max-md:hidden">
        I'm passionate about staying up-to-date with the latest technologies and
        industry trends, and I'm constantly seeking out new challenges and
        opportunities to learn and grow. Throughout my career, I've collaborated
        with teams of designers, developers, and stakeholders to deliver
        high-quality software products that exceed expectations.
      </p>
      <p class="w-full max-md:text-center">
        If you're looking for a Full Stack Developer who can bring your ideas to
        life and help you achieve your business goals, look no further. Let's
        work together to create something great!
      </p>
    </div>
    <button
      class="w-fit h-fit md:px-8 px-6 md:py-4 py-3 bg-btncolor md:text-xl font-black text-white rounded-xl"
    >
      Download CV
    </button>
  </div>
</div>

<!-------------------------------------------------What I Do---------------------------------------------------------------------->

<div class="bg-gray-50 md:py-10 py-4" id="what">
  <div class="flex items-center justify-center relative md:mb-10">
    <h1 class="md:text-8xl text-5xl font-bold text-[#cff2e7]">SERVICES</h1>
    <P
      class="md:text-3xl text-xl font-bold text-gray-900 absolute md:top-8 top-2"
      ><span class="border-b-4 md:px-2 border-[#20c997]">What</span>I Do?</P
    >
  </div>

  <div
    class="md:w-full md:px-20 flex flex-wrap md:gap-8 gap-4 justify-center"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
    data-aos-duration="2000"
  >
    <div
      class="md:flex md:w-[45%] items-center justify-center gap-4 px-4 py-3 bg-white shadow-md border-t-4 border-b-4 rounded-2xl border-[#20c997]"
      *ngFor="let item of servcesList"
    >
      <i
        class="text-icon text-5xl p-4 rounded-md flex justify-center items-center md:bg-gray-50"
        [ngClass]="item.icon"
      ></i>
      <div class="flex flex-col gap-2 max-md:items-center">
        <h1 class="text-2xl font-bold text-icon">{{ item.title }}</h1>
        <p class="text-gray-700 max-md:text-center">
          {{ item.content }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------------Resume Page----------------------------------------------------------------------->

<div id="portfolio" class="md:mt-14 mt-4 flex flex-col items-center">
  <div class="flex items-center justify-center relative">
    <h1 class="md:text-8xl text-5xl font-bold text-[#cff2e7]">SUMMARY</h1>
    <P
      class="md:text-3xl text-xl font-bold text-gray-900 absolute md:top-8 top-2"
      ><span class="border-b-4 md:px-2 border-[#20c997]">Skills</span></P
    >
  </div>

  <div class="w-full flex md:px-60 max-md:hidden">
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-10 mx-auto flex flex-wrap">
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-[#20c997] text-white relative z-10 title-font font-medium text-sm"
          >
            1
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div
              class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-[#20c997] rounded-full inline-flex items-center justify-center"
            >
              <i class="fa-brands fa-angular text-5xl"></i>
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                Angular
              </h2>
              <p class="leading-relaxed"></p>
            </div>
          </div>
        </div>
        <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-[#20c997] text-white relative z-10 title-font font-medium text-sm"
          >
            2
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div
              class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-[#20c997] rounded-full inline-flex items-center justify-center"
            >
              <i class="fa-brands fa-node-js text-5xl"></i>
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                Node.Js
              </h2>
              <p class="leading-relaxed"></p>
            </div>
          </div>
        </div>
        <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-[#20c997] text-white relative z-10 title-font font-medium text-sm"
          >
            3
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div
              class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-[#20c997] rounded-full inline-flex items-center justify-center"
            >
              <i class="fa-brands fa-js text-5xl"></i>
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                JavaScript
              </h2>
              <p class="leading-relaxed"></p>
            </div>
          </div>
        </div>
        <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-[#20c997] text-white relative z-10 title-font font-medium text-sm"
          >
            4
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div
              class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-[#20c997] rounded-full inline-flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                data-name="Layer 1"
                id="typescript"
                class="fill-[#20c997]"
              >
                <path
                  d="M6 6v36h36V6Zm20.9 19h-4.69v13.76h-3V25h-4.64v-2.54H26.9Zm5.39 14a9.42 9.42 0 0 1-4.41-1l.66-2.46a8.29 8.29 0 0 0 3.94 1c1.9 0 3-.89 3-2.22s-.82-2-2.89-2.71c-2.69-.95-4.41-2.39-4.41-4.73 0-2.67 2.23-4.68 5.77-4.68a8.66 8.66 0 0 1 3.91.81l-.71 2.4a7 7 0 0 0-3.26-.78c-1.89 0-2.69 1-2.69 2 0 1.25.94 1.84 3.11 2.67 2.84 1.08 4.2 2.5 4.2 4.84-.04 2.6-2.02 4.86-6.22 4.86Z"
                ></path>
              </svg>
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                TypeScript
              </h2>
              <p class="leading-relaxed"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-10 mx-auto flex flex-wrap">
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-[#20c997] text-white relative z-10 title-font font-medium text-sm"
          >
            5
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div
              class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-[#20c997] rounded-full inline-flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                id="tailwind-css"
                class="fill-[#20c997]"
              >
                <path
                  d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4 3.23 3.23 0 0 1 3.5-1.49 4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4 3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4 3.23 3.23 0 0 1-3.5 1.49 4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4 3.2 3.2 0 0 1 3.5-1.51z"
                ></path>
              </svg>
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                Tailwind
              </h2>
              <p class="leading-relaxed"></p>
            </div>
          </div>
        </div>
        <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-[#20c997] text-white relative z-10 title-font font-medium text-sm"
          >
            6
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div
              class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-[#20c997] rounded-full inline-flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                data-name="Layer 1"
                viewBox="0 0 24 24"
                id="html5"
                class="w-14 fill-[#20c997]"
              >
                <path
                  d="M3.1825,2.00012,4.78735,20.00079l7.20191,1.99933,7.22168-2.00207L20.8175,2.00012ZM17.32507,7.88739H8.87683l.20178,2.26074h8.04554l-.60584,6.778L12,18.17834v.00043l-.01013.00275L7.46753,16.92615,7.1582,13.45972H9.37439l.1571,1.76074,2.45874.66388.00208-.00049v-.00018l2.46228-.66461.25635-2.86323H7.05957L6.46411,5.67969h11.0586Z"
                ></path>
              </svg>
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                HTML
              </h2>
              <p class="leading-relaxed"></p>
            </div>
          </div>
        </div>
        <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-[#20c997] text-white relative z-10 title-font font-medium text-sm"
          >
            7
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div
              class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-[#20c997] rounded-full inline-flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                data-name="Layer 1"
                viewBox="0 0 24 24"
                id="css3"
                class="w-14 fill-[#20c997]"
              >
                <path
                  d="M20.772,3.36426A1.00062,1.00062,0,0,0,20,3H6A1,1,0,0,0,6,5H18.78613l-.78094,4H5a1,1,0,0,0,0,2H17.61475l-1.1626,5.95508-6.32324,1.99658L4.71875,17.25244l.20361-1.06494a1.00015,1.00015,0,0,0-1.96484-.375L2.5874,17.75244A1.00059,1.00059,0,0,0,3.27,18.894L9.83008,20.9541a1.00175,1.00175,0,0,0,.60107-.00049l7.18994-2.27a1.00064,1.00064,0,0,0,.68018-.7622l2.68018-13.73A1.00008,1.00008,0,0,0,20.772,3.36426Z"
                ></path>
              </svg>
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                SCSS
              </h2>
              <p class="leading-relaxed"></p>
            </div>
          </div>
        </div>
        <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-[#20c997] text-white relative z-10 title-font font-medium text-sm"
          >
            8
          </div>
          <div
            class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
          >
            <div
              class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-[#20c997] rounded-full inline-flex items-center justify-center"
            >
              <i class="fa-brands fa-github text-5xl"></i>
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                GitHub
              </h2>
              <p class="leading-relaxed"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <button class="w-fit h-fit md:px-8 md:py-3 bg-icon text-gray-50 text-xl font-bold rounded-lg px-6 py-2 max-md:hidden">Read more</button>
</div>

<div class="md:hidden">

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center gap-4 border-gray-200 border p-4 rounded-lg">
            <i class="fa-brands fa-angular text-5xl text-[#20c997]"></i>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">Angular</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center gap-4 border-gray-200 border p-4 rounded-lg">
            <i class="fa-brands fa-node-js text-5xl text-[#20c997]"></i>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">Node.Js</h2>
            </div>
          </div>
        </div>
      </div>


      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center gap-4 border-gray-200 border p-4 rounded-lg">
            <i class="fa-brands fa-js text-5xl text-[#20c997]"></i>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">JavaScript</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center gap-4 border-gray-200 border p-4 rounded-lg">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            data-name="Layer 1"
            id="typescript"
            class="fill-[#20c997]"
          >
            <path
              d="M6 6v36h36V6Zm20.9 19h-4.69v13.76h-3V25h-4.64v-2.54H26.9Zm5.39 14a9.42 9.42 0 0 1-4.41-1l.66-2.46a8.29 8.29 0 0 0 3.94 1c1.9 0 3-.89 3-2.22s-.82-2-2.89-2.71c-2.69-.95-4.41-2.39-4.41-4.73 0-2.67 2.23-4.68 5.77-4.68a8.66 8.66 0 0 1 3.91.81l-.71 2.4a7 7 0 0 0-3.26-.78c-1.89 0-2.69 1-2.69 2 0 1.25.94 1.84 3.11 2.67 2.84 1.08 4.2 2.5 4.2 4.84-.04 2.6-2.02 4.86-6.22 4.86Z"
            ></path>
          </svg>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">TypeScript</h2>
            </div>
          </div>
        </div>
      </div>


      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center gap-4 border-gray-200 border p-4 rounded-lg">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            id="tailwind-css"
            class="fill-[#20c997]"
          >
            <path
              d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4 3.23 3.23 0 0 1 3.5-1.49 4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4 3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4 3.23 3.23 0 0 1-3.5 1.49 4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4 3.2 3.2 0 0 1 3.5-1.51z"
            ></path>
          </svg>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">Tailwind</h2>
            </div>
          </div>
        </div>
      </div>



      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center gap-4 border-gray-200 border p-4 rounded-lg">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            data-name="Layer 1"
            viewBox="0 0 24 24"
            id="html5"
            class="w-14 fill-[#20c997]"
          >
            <path
              d="M3.1825,2.00012,4.78735,20.00079l7.20191,1.99933,7.22168-2.00207L20.8175,2.00012ZM17.32507,7.88739H8.87683l.20178,2.26074h8.04554l-.60584,6.778L12,18.17834v.00043l-.01013.00275L7.46753,16.92615,7.1582,13.45972H9.37439l.1571,1.76074,2.45874.66388.00208-.00049v-.00018l2.46228-.66461.25635-2.86323H7.05957L6.46411,5.67969h11.0586Z"
            ></path>
          </svg>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">HTML</h2>
            </div>
          </div>
        </div>
      </div>


      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center gap-4 border-gray-200 border p-4 rounded-lg">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            data-name="Layer 1"
            viewBox="0 0 24 24"
            id="css3"
            class="w-14 fill-[#20c997]"
          >
            <path
              d="M20.772,3.36426A1.00062,1.00062,0,0,0,20,3H6A1,1,0,0,0,6,5H18.78613l-.78094,4H5a1,1,0,0,0,0,2H17.61475l-1.1626,5.95508-6.32324,1.99658L4.71875,17.25244l.20361-1.06494a1.00015,1.00015,0,0,0-1.96484-.375L2.5874,17.75244A1.00059,1.00059,0,0,0,3.27,18.894L9.83008,20.9541a1.00175,1.00175,0,0,0,.60107-.00049l7.18994-2.27a1.00064,1.00064,0,0,0,.68018-.7622l2.68018-13.73A1.00008,1.00008,0,0,0,20.772,3.36426Z"
            ></path>
          </svg>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">SCSS</h2>
            </div>
          </div>
        </div>
      </div>


      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center gap-4 border-gray-200 border p-4 rounded-lg">
            <i class="fa-brands fa-github text-5xl text-[#20c997]"></i>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">GitHub</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>


<!-------------------------------------------------Portfolio---------------------------------------------------------------------->

<div class="flex items-center justify-center relative mt-10" id="portfolio">
  <h1 class="md:text-8xl text-5xl font-bold text-[#cff2e7]">PORTFOLIO</h1>
  <P
    class="md:text-3xl text-xl font-bold text-gray-900 absolute md:top-7 top-2"
    ><span class="border-b-4 md:px-2 border-[#20c997]">My work</span></P
  >
</div>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://www.shutterstock.com/image-photo/workspace-desk-keyboard-office-working-260nw-572386132.jpg" alt="blog">
          <div class="p-6">
            <a class="tracking-widest text-sm title-font font-medium text-blue-500 mb-1 hover:text-[#20c997]" target="_blank" href="https://github.com/Sreeharie123/Blog-app-with-firebase"><i class="fa-brands fa-github text-lg"></i>https://github.com/Sreeharie123/Blog-app-with-firebase</a>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">BlogApp</h1>
            <p class="leading-relaxed mb-3">A blog application developed with Angular on the frontend and Firebase on the backend is a powerful tool for creating and publishing blog content. This application is built to enable users to create, publish, and manage their blog content using a simple and user-friendly interface.</p>
            <div class="flex items-center flex-wrap ">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Visit Website
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://res.cloudinary.com/smartsupp/image/upload/w_1024,h_740,f_auto,c_fill/v1652255012/upload/Everything_starts_with_a_conversation_2x_oaocqd.png" alt="blog">
          <div class="p-6">
            <a class="tracking-widest text-sm title-font font-medium text-blue-500 mb-1 hover:text-[#20c997]" target="_blank" href="https://github.com/Sreeharie123/ChatApp"><i class="fa-brands fa-github text-lg"></i>https://github.com/Sreeharie123/ChatApp</a>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">ChatApp</h1>
            <p class="leading-relaxed mb-3">The ChatApp is designed to provide a seamless messaging experience for users, with a user-friendly interface that allows users to easily send and receive messages. Users can create accounts, log in, and start chatting with other users instantly. The app supports group chats, one-on-one chats, and direct messaging, giving users the flexibility to communicate in whatever way works best for them.</p>
            <div class="flex items-center flex-wrap">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Visit Website
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2018/07/Select-Dropdown-Menu-Featured-Image-01.jpg" alt="blog">
          <div class="p-6">
            <a class="tracking-widest text-sm title-font font-medium text-blue-500 mb-1 hover:text-[#20c997]" target="_blank" href="https://github.com/Sreeharie123/illustrator-project"><i class="fa-brands fa-github text-lg"></i>https://github.com/Sreeharie123/illustrator-project</a>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Illustrator</h1>
            <p class="leading-relaxed mb-3">The simple Illustrator offers a range of features that make it easy to create and edit vector graphics. Users can create shapes, lines, curves, and other elements using a variety of tools, including the Pen tool, Shape tool, and Pencil tool. They can also add text, color, and effects to their designs to make them more visually appealing.</p>
            <div class="flex items-center flex-wrap ">
              <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Visit Website
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-------------------------------------------------Contact---------------------------------------------------------------------->


<div class="flex items-center justify-center relative mt-10" id="contact">
  <h1 class="md:text-8xl text-5xl font-bold text-[#cff2e7]">CONTACT</h1>
  <P
    class="md:text-3xl text-xl font-bold text-gray-900 absolute md:top-8 top-3"
    >Get in<span class="border-b-4 md:px-2 border-[#20c997]">Touch</span></P
  >
</div>

<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-10 mx-auto flex sm:flex-nowrap flex-wrap">
    <div class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
      <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=%C4%B0zmir+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
      <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
        <div class="lg:w-1/2 px-6">
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">ADDRESS</h2>
          <p class="mt-1">Sreehari, Kottathara(po),kalpetta, Wayanad,Kerala,India</p>
        </div>
        <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h2>
          <a class="text-indigo-500 leading-relaxed" href="mailto:sreeharisreepuram@gmail.com">sreeharisreepuram@gmail.com</a>
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h2>
          <p class="leading-relaxed">790-261-1214</p>
        </div>
      </div>
    </div>
    <div class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
      <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Feedback</h2>
      <p class="leading-relaxed mb-5 text-gray-600">Post your comments</p>
      <div class="relative mb-4">
        <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
        <input type="text" id="name" name="name" class="w-full bg-white rounded border border-gray-300 focus:border-[#20c997] focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
        <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-[#20c997] focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="relative mb-4">
        <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
        <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-[#20c997] focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
      </div>
      <button class="text-white bg-[#20c997] border-0 py-2 px-6 focus:outline-none hover:bg-[#04f5ad] rounded text-lg">Send</button>
      <p class="text-xs text-gray-500 mt-3">Get in touch</p>
    </div>
  </div>
</section>
